/* Default styles are already in place for larger screens */

/* Small devices (max-width: 600px) */
/* @media (max-width: 600px) {
    .chart-container {
      flex-direction: column !important;
      align-items: center;
      gap: 10px;
    }
  
    .chart-container > div {
      width: 90% !important;
      height: auto !important;
      margin-top: 0 !important;
    }
  
    .chart-container h2 {
      text-align: center;
      font-size: 1rem;
    }
  }
  
  /* Medium devices (min-width: 601px) and (max-width: 1024px) */
  /* @media (min-width: 601px) and (max-width: 1024px) {
    .chart-container > div {
      width: 100%;
      height: auto;
    }
  } */
 
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .chart-item {
    width: 45%;
    height: 400px;
  }
  
  .pie-chart {
    margin-top: -150px;
    height: 250px;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      flex-direction: column !important;
    }
  
    .chart-item {
      width: 100%; /* Take full width on smaller screens */
      height: auto; /* Allow the height to adjust based on content */
    }
  
    .pie-chart {
      margin-top: 0; /* Remove negative margin for small screens */
    }
  }
  